@import "@/styles/variables";
@import "@/styles/mixins";

.header {
    @include flex(space-between, center);
    gap: 20px;
    padding: 26px 0;

    &__logo {
        width: 227px;

        @include respond-to(tablet) {
            width: 127px;
        }

        @include respond-to(phone) {
            width: 90px;
        }
    }

    &__nav {
        @include flex(space-between, center);
        gap: 50px;
        font-size: 30px;

        @media (max-width: 1700px) {
            font-size: 20px;
        }

        @media (max-width: 1500px) {
            font-size: 16px;
        }

        @include respond-to('xxl') {
            z-index: 50;
            position: fixed;
            inset: 0;
            background-color: #000;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;

            &--open {
                display: flex;
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__buttons {
        @include flex(space-between, center);
        gap: 24px;

        @include respond-to(tablet) {
            gap: 8px;
        }
    }

    &__button {
        position: relative;
        z-index: 100;
        font-size: 20px;

        @include respond-to(desktop) {
            font-size: 14px;
        }

        &:after,
        &:before {
            content: unset !important;
        }

        &--sprint {
            font-size: 16px;
            @include respond-to(xxl) {
                display: none !important;
            }
        }

        &--burger {
            display: none !important;

            @include respond-to(xxl) {
                display: flex !important;
            }

            .reactsvg {
                width: 16px;
                height: 12px;
                transition: .3s all ease-in-out;
            }
        }
    }
}