@import "@/styles/variables";
@import "@/styles/mixins";

.products {
    z-index: 10;
    position: relative;

    .container {
        z-index: 10;
        @include flex(flex-start, stretch, column);
        position: relative;
        overflow: hidden;
        max-width: unset;

        @include respond-to(macbook) {
            min-height: 900px;
        }

        @include respond-to(phone) {
            min-height: 80vh;
            margin-bottom: 80px;
        }
    }

    &__name {
        align-self: flex-start;
    }

    &__list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 20px;

        @include respond-to(large) {
            gap: 30px;
        }

        @include respond-to(desktop) {
            flex-direction: column;
        }

        & > div {
            max-width: 45%;

            @include respond-to(macbook) {
                max-width: 48%;
            }

            @include respond-to(large) {
                max-width: unset;
            }
        }
    }

    &__wrapper {
        @include flex(center, center, column);
        flex: 1;
        gap: 130px;
        padding: 100px 0;

        @include respond-to(macbook) {
            gap: 100px;
        }

        @include respond-to(xxl) {
            gap: 74px;
        }

        @include respond-to(phone) {
            gap: 35px;
            padding-bottom: 30px;
        }

        h3 {
            width: 100%;
            display: inline-flex;
            flex-direction: column;
            align-items: flex-end;
            font-size: 96px;
            text-align: center;
            line-height: .9;
            margin: 60px 0 40px;

            span {
                color: $primary;
                font-size: 70%;
            }

            @include respond-to(macbook) {
                font-size: 82px;
            }

            @include respond-to(large) {
                font-size: 64px;
            }

            @include respond-to(desktop) {
                align-items: flex-start;
                font-size: 48px;
            }

            @include respond-to(tablet) {
                line-height: 100%;
            }

            @include respond-to(phone) {
                font-size: 36px;
                letter-spacing: .05em;
                margin: 20px 0;
            }
        }
        ul {
            width: 100%;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            li {
                margin-left: 10px;
                padding-left: 6px;

                &::marker {
                    content: "•";
                    display: inline-block;
                    width: 0.5em;
                    margin-left: -0.5em;
                }
            }

            @include respond-to(large) {
                font-size: 16px;
            }

            @include respond-to(phone) {
                font-size: 14px;
            }
        }
        p {
            font-size: 20px;
            text-align: center;
            letter-spacing: -.05em;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            span {
                color: $primary;
            }

            @include respond-to(macbook) {
                font-size: 18px;
            }

            @include respond-to(large) {
                font-size: 16px;
            }

            @include respond-to(desktop) {
                text-align: left;
            }

            @include respond-to(phone) {
                font-size: 14px;
            }
        }
    }

    &__text--main {
        width: 100%;

        h3 {
            align-items: center;
            font-size: 112px;

            @include respond-to(macbook) {
                font-size: 96px;
            }

            @include respond-to(large) {
                font-size: 84px;
            }

            @include respond-to(desktop) {
                font-size: 58px;
                align-items: flex-start;
            }

            @include respond-to(phone) {
                font-size: 36px;
                letter-spacing: .05em;
            }
        }
    }

    &__button {
        margin-bottom: 10px;
    }

    &__step {
        p {
            text-align: left;
        }

        &-arrow {
            width: 140px;
            margin: 0 auto;

            @include respond-to(desktop) {
                display: none;
            }

            &--right svg {
                transform: rotate(-90deg);
            }
        }

        &--last {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 768px;
            width: 100%;

            button {
                margin-bottom: 10px;
            }

            p {
                text-align: center;
            }
        }
    }

    &__arrows {
        display: flex;
        width: 100%;
        max-width: 786px;
        justify-content: space-between;
        margin-bottom: 60px;

        &-item {
            margin: 0;
        }
    }

    &__circles {
        z-index: -2;
        position: absolute;
    }
}