@import "@/styles/variables";
@import "@/styles/mixins";

.questions {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 600px;

    @include respond-to(large) {
        min-height: 200px;
    }

    @include respond-to(macbook) {
        margin-bottom: 100px;
    }

    .container {
        padding-top: 160px;

        @include respond-to(macbook) {
            padding-top: 100px;
        }

        @include respond-to(phone) {
            padding-top: 80px;
        }
    }

    @include respond-to(large) {
        margin-bottom: 0;
    }

    &__title {
        margin-bottom: 100px;

        @include respond-to(phone) {
            margin-bottom: 50px;
        }
    }

    &__hero {
        z-index: -1;
        position: absolute;

        &--sonic {
            width: 600px;
            top: 400px;
            left: -100px;

            @include respond-to(macbook) {
                width: 462px;
                left: 60px;
                top: 350px;
            }

            @include respond-to(large) {
                display: none;
            }
        }

        &--hatico {
            top: 0;
            right: -100px;
            width: 630px;

            @include respond-to(macbook) {
                width: 600px;
                top: 70px;
                right: -50px;
            }

            @include respond-to(large) {
                width: 300px;
            }

            @include respond-to(phone) {
                width: 140px;
                right: -30px;
                top: 40px;
            }
        }
    }

    .middle {
        @include flex(center, center, column);
        gap: 40px;
        max-width: 700px;
        padding: 0 20px;
        font-size: 25px;
        text-align: center;

        @include respond-to(macbook) {
            max-width: 510px;
            font-size: 17px;
            gap: 30px;
            line-height: 22px;
        }

        @include respond-to(tablet) {
            font-size: 16px;
        }

        @include respond-to(phone) {
            font-size: 13px;
            gap: 20px;
            padding: 0 10px;
        }

        &__text {
            letter-spacing: -.05em;
        }
    }

    .btn {
        &:after,
        &:before {
            display: none;
        }


        @include respond-to(phone) {
            height: 30px;
            padding: 7px;
        }
    }
}