@import "@/styles/variables";
@import "@/styles/mixins";

.reasons {
    position: relative;

    .container {
        overflow: visible !important;
    }

    &__header {
        position: sticky;
        top: 20px;
        z-index: 10;
        padding: 20px 0;
    }

    &__list {
        @include flex(stretch, flex-end, column);
        gap: 100px;
        padding: 40px 0 40px 40px;
        background-image: url('@/assets/svg/reasons-bg.svg');

        @include respond-to(desktop) {
            padding-left: 24px;
        }

        @include respond-to(desktop) {
            gap: 85px;
        }
    }

    .card {
        @include flex();
        position: sticky;
        top: 200px;
        width: 100%;
        max-width: 1300px;
        padding: 15px 0 15px 30px;

        @include respond-to(desktop) {
            top: 150px;
        }

        &__num {
            position: absolute;
            left: -40px;
            top: 50%;
            transform: translate(-100%, -50%);

            @include respond-to(desktop) {
                display: none;
            }
        }

        &__shape {
            position: relative;
            width: 160px;
            background-image: url("@/assets/svg/abstract-shaper.svg");
            background-repeat: no-repeat;
            background-position: left center;
            margin-right: -4px;

            @include respond-to(desktop) {
                width: 130px;
            }

            @include respond-to(phone) {
                display: none;
            }
        }

        &__wrapper {
            @include flex(center, center, column);
            flex: 1;
            width: 100%;
            background-color: #000;
            min-height: 560px;
            color: #fff;

            @include respond-to(desktop) {
                min-height: 470px;
                padding: 0 60px;
            }

            @include respond-to(phone) {
                border-radius: 40px 0 0 40px;
                padding: 0 20px;
            }
        }

        &::after {
            z-index: -1;
            @include pseudo();
            inset: 0;
            background: linear-gradient(90deg, rgba(0, 240, 252, 1) 0%, rgba(0, 240, 252, 0.2) 100%);
            border-radius: 40px 0 0 40px;
        }

        &__title {
            font-size: 45px;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 25px;

            @include respond-to(desktop) {
                font-size: 24px;
            }
        }

        &__text {
            font-size: 20px;
            text-align: center;
            max-width: 630px;
            margin-bottom: 45px;

            @include respond-to(desktop) {
                font-size: 16px;
            }
        }
    }
}