@import "@/styles/variables";
@import "@/styles/mixins";

.reasons {
    position: relative;

    &:before,
    &:after {
        z-index: -1;
        @include pseudo();
        background: url('@/assets/svg/section-carve.svg') center top / 100% no-repeat;
        inset: 0 30px 0;
        opacity: .4;
    }

    &:after {
        transform: rotate(180deg);
    }

    @include respond-to(desktop) {
        padding: 20px 0;
    }

    &__header {
        margin-bottom: 40px;
    }

    .container {
        overflow: visible !important;
    }

    &__header {
        position: sticky;
        top: 20px;
        z-index: 10;
        padding: 20px 0;
    }

    &__list {
        @include flex(stretch, flex-end, column);
        gap: 100px;
        padding: 40px 0 40px 40px;

        @include respond-to(desktop) {
            padding-left: 24px;
        }

        @include respond-to(desktop) {
            gap: 85px;
        }

        @media (max-width: 600px) {
            gap: 40px;
        }
    }

    .card {
        @include flex();
        position: sticky;
        top: 200px;
        width: 100%;
        max-width: 1300px;
        padding: 15px 0 15px 30px;

        @media (max-width: 1550px) {
            max-width: 1000px;
        }

        @include respond-to(large) {
            max-width: 800px;
        }

        @include respond-to(desktop) {
            max-width: 600px;
            top: 150px;
        }

        @include respond-to(tablet) {
            max-width: unset;
        }

        &__num {
            position: absolute;
            left: -40px;
            top: 50%;
            transform: translate(-100%, -50%);

            @include respond-to(tablet) {
                display: none;
            }
        }

        &__shape {
            position: relative;
            width: 160px;
            background-image: url("@/assets/svg/abstract-shaper.svg");
            background-repeat: no-repeat;
            background-position: left center;
            margin-right: -4px;

            @include respond-to(desktop) {
                width: 130px;
            }

            @media (max-width: 600px) {
                width: 66px;
                background-size: cover;
            }
        }

        &__wrapper {
            @include flex(center, center, column);
            flex: 1;
            width: 100%;
            background-color: #000;
            min-height: 560px;
            color: #fff;

            @include respond-to(desktop) {
                min-height: 470px;
                padding: 0 60px;
            }

            @media (max-width: 600px) {
                min-height: 240px;
                padding: 0 45px;
            }
        }

        &::after {
            z-index: -1;
            @include pseudo();
            inset: 0;
            background: linear-gradient(90deg, rgba(0, 240, 252, 1) 0%, rgba(0, 240, 252, 0.2) 100%);
            border-radius: 40px 0 0 40px;
        }

        &__title {
            font-size: 45px;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 25px;

            @media (max-width: 600px) {
                font-size: 20px;
                margin-bottom: 18px;
            }
        }

        &__text {
            font-size: 20px;
            text-align: center;
            max-width: 630px;
            margin-bottom: 45px;
            text-transform: uppercase;

            @include respond-to(desktop) {
                font-size: 16px;
            }

            @media (max-width: 600px) {
                max-width: 264px;
                font-size: 7px;
                letter-spacing: -5%;
                margin-bottom: 11px;
            }
        }

        .btn:after,
        .btn:before{
            content: unset !important;
        }
    }
}