@import "@/styles/variables";
@import "@/styles/mixins";

.section {
    position: relative;
    padding: 80px 0;

    @include respond-to(phone) {
        padding: 45px 0;
    }

    &:first-child {
        padding: 0 0 80px;

        @include respond-to(phone) {
            padding: 0 0 45px;
        }
    }

    &__title {
        position: relative;
        width: fit-content;
        font-size: 28px;
        text-transform: uppercase;
        margin-left: 22px;

        &:after,
        &:before {
            @include pseudo();
            inset: -14px auto auto -28px;
            background-image: url('@/assets/svg/border-corner.svg');
            width: 24px;
            height: 24px;

            @include respond-to(macbook) {
                scale: .8;
            }
        }

        &:after {
            inset: auto -28px -14px auto;
            transform: rotate(180deg);
        }

        @include respond-to(xxl) {
            font-size: 22px;

            &:after,
            &:before {
                scale: .5;
            }

            &:before {
                inset: -15px auto auto -20px;
            }

            &:after {
                inset: auto -20px -10px auto;
            }
        }

        @include respond-to(phone) {
            font-size: 24px;
        }

        &-background {
            z-index: -1;
            position: absolute;
            inset: 20% 0;
            background: #00F0FC;
            border-radius: 100px;
            filter: blur(50px);
        }
    }
}

.hero {
    z-index: 10;
    position: relative;

    .container {
        z-index: 10;
        @include flex(flex-start, stretch, column);
        position: relative;
        min-height: 115vh;
        overflow: hidden;
        max-width: unset;

        @include respond-to(macbook) {
            min-height: 900px;
        }

        @include respond-to(phone) {
            min-height: 80vh;
            margin-bottom: 80px;
        }
    }

    &__text {
        @include flex(center, center, column);
    }

    &__wrapper {
        @include flex(center, center, column);
        flex: 1;
        gap: 100px;
        padding-bottom: 100px;

        @include respond-to(macbook) {
            gap: 80px;
        }

        @include respond-to(xxl) {
            gap: 60px;
        }

        @include respond-to(phone) {
            gap: 35px;
            padding-bottom: 30px;
        }

        .reactsvg {
            width: 190px;

            @include respond-to(macbook) {
                width: 140px;
            }

            @include respond-to(desktop) {
                width: 160px;
            }

            @include respond-to(phone) {
                width: 80px;
            }
        }

        h1 {
            font-size: 96px;
            text-align: center;

            @include respond-to(macbook) {
                font-size: 74px;
            }

            @include respond-to(tablet) {
                max-width: 354px;
                line-height: 100%;
            }

            @include respond-to(phone) {
                font-size: 48px;
                letter-spacing: .05em;
                line-height: 53px;
                max-width: 180px;
            }
        }
        p {
            text-transform: uppercase;
            font-size: 28px;
            text-align: center;
            letter-spacing: .1em;

            @include respond-to(macbook) {
                font-size: 22px;
            }

            @include respond-to(desktop) {
                font-size: 20px;
            }

            @include respond-to(tablet) {
                max-width: 340px;
            }

            @include respond-to(phone) {
                font-size: 10px;
                max-width: 160px;
            }
        }
    }

    &__circles {
        z-index: -2;
        position: absolute;
    }

    &__coin {
        z-index: -1;
        position: absolute;
        height: auto;

        &--left {
            width: 450px;
            height: auto;
            inset: 134px auto auto 29px;

            @include respond-to(macbook) {
                width: 320px;
                inset: 120px auto auto 44px;
            }

            @include respond-to(large) {
                width: 289px;
                inset: 110px auto auto -11px;
            }

            @include respond-to(phone) {
                width: 133px;
                inset: 70px auto auto 4px;
            }
        }

        &--left2 {
            width: 450px;
            height: auto;
            inset: auto auto 0 184px;

            @include respond-to(macbook) {
                width: 320px;
                inset: auto auto 50px 160px;
            }

            @include respond-to(large) {
                width: 229px;
                inset: auto auto 200px -80px;
            }

            @include respond-to(phone) {
                width: 177px;
                inset: auto auto 70px -70px;
            }
        }

        &--right {
            width: 520px;
            inset: auto 72px 0 auto;

            @include respond-to(macbook) {
                width: 380px;
                inset: auto 62px 50px auto;
            }

            @include respond-to(large) {
                width: 334px;
                inset: auto -125px 150px auto;
            }

            @include respond-to(phone) {
                width: 164px;
                inset: auto -61px 50px auto;
            }
        }
    }
}

.faq {
    padding: 80px 80px;
    margin-bottom: 200px;

    @include respond-to(macbook) {
        padding: 60px 65px;
    }

    @include respond-to(large) {
        padding: 40px 22px;
    }

    @include respond-to(phone) {
        margin-bottom: 0;
    }

    &:before,
    &:after {
        z-index: -1;
        @include pseudo();
        background: url('@/assets/svg/section-carve.svg') center top / 100% no-repeat;
        inset: 0 30px 0;
        opacity: .4;

        @include respond-to(phone) {
            inset: 20px;
        }
    }

    &:after {
        transform: rotate(180deg);
    }

    &__title {
        margin-bottom: 100px;
    }

    &__list {
        @include flex(flex-start, stretch, column);
        gap: 50px;

        @include respond-to(large) {
            gap: 25px;
        }
    }
}

.qr {
    &__text {
        @include flex(center, center, column);
        padding: 100px 0 150px;
        background: url('@/assets/svg/section-bg.svg') center top / 100% no-repeat;

        @include respond-to(macbook) {
            padding-top: 73px;
        }

        @include respond-to(phone) {
            padding-top: 30px;
        }
    }

    &__title {
        font-size: 60px;
        margin-bottom: 100px;
        text-align: center;
        text-transform: uppercase;

        @include respond-to(macbook) {
            font-size: 43px;
            margin-bottom: 72px;
        }

        @include respond-to(large) {
            font-size: 30px;
        }

        @include respond-to(phone) {
            font-size: 16px;
            margin-bottom: 30px;
        }
    }

    &__image {
        width: 278px;
        height: 278px;

        @include respond-to(macbook) {
            width: 200px;
            height: 200px;
        }

        @include respond-to(phone) {
            width: 81px;
            height: 81px;
        }
    }

    .frame {
        position: relative;
        @include flex(center, center, column);
        gap: 20px;
        background-color: #fff;
        border-radius: 30px;
        padding: 30px;
        height: 420px;
        margin-bottom: 150px;

        @include respond-to(macbook) {
            height: 307px;
            border-radius: 20px;
            padding: 20px 25px;
            gap: 10px;
        }

        @include respond-to(phone) {
            padding: 7px;
            margin-bottom: 40px;
            height: 142px;
            border-radius: 15px;
        }

        &:before {
            @include pseudo();
            inset: -24px;
            background: url('@/assets/svg/frame.svg') center top / 100% no-repeat;

            @include respond-to(macbook) {
                inset: -14px;
            }

            @include respond-to(phone) {
                inset: -7px;
            }
        }

        .btn {

            @include respond-to(phone) {
                font-size: 10px;
                padding: 7px;
            }
        }
    }

    &__list {
        @include flex(space-between, stretch);
        gap: 40px;
        margin-top: -150px;
        animation: scroll 20s linear infinite;
        counter-reset: item;

        @include respond-to(macbook) {
            gap: 26px;
        }

        @include respond-to(phone) {
            gap: 10px;
        }
    }

    &__res {
        width: 485px;
        height: 337px;
        object-fit: cover;
        border-radius: 25px;
        transition: all 0.1s ease-in-out;

        &:before {
            content: counter(item);
        }

        @include respond-to(macbook) {
            width: 355px;
            height: 246px;
            border-radius: 18px;
        }


        @include respond-to(phone) {
            width: 141px;
            height: 98px;
        }
    }

    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-100% - 20px));
        }
    }
}

.follow {

    &__title {
        margin-bottom: 120px;
        margin-top: 70px;

        @include respond-to(phone) {
            margin-bottom: 80px;
        }

        &-arrow {
            position: absolute;
            width: 100px;
            top: 20px;
            right: -150px;


            @include respond-to(phone) {
                width: 72px;
                right: -80px;
            }
        }
    }

    &__warning {
        opacity: .5;
        font-size: 16px;

        @include respond-to(phone) {
            font-size: 12px;
            margin-bottom: 45px;
        }
    }

    &__text {
        text-align: center;
        font-size: 25px;
        margin-bottom: 100px;

        @include respond-to(macbook) {
            font-size: 18px;
            margin-bottom: 70px;
        }

        @include respond-to(tablet) {
            font-size: 18px;
        }

        @include respond-to(phone) {
            font-size: 12px;
            margin-bottom: 50px;
        }
    }

    .soc {
        @include flex(space-between, center);
        gap: 35px;

        @include respond-to(macbook) {
            gap: 25px;
        }

        @include respond-to(desktop) {
            flex-wrap: wrap;
        }


        @include respond-to(phone) {
            gap: 20px;
        }

        &:not(:last-child) {
            margin-bottom: 100px;

            @include respond-to(macbook) {
                margin-bottom: 73px;
            }

            @include respond-to(phone) {
                margin-bottom: 45px;
            }
        }

        &__icon {
            box-sizing: content-box;
            width: 50px;
            height: 50px;
            padding: 20px;
            border-radius: 100px;
            border: 3px solid #fff;
            flex-shrink: 0;

            @include respond-to(macbook) {
                width: 40px;
                height: 40px;
            }

            @include respond-to(desktop) {
                width: 50px;
                height: 50px;
                padding: 20px;
                border-width: 2px;
            }


            @include respond-to(phone) {
                width: 25px;
                height: 25px;
                padding: 10px;
            }
        }

        &__info {
            flex: 1;

            @include respond-to(desktop) {
                min-width: calc(100% - 96px - 35px);
            }
        }

        &__title {
            text-transform: uppercase;
            color: $primary;
            margin-bottom: 20px;
            font-size: 25px;

            @include respond-to(macbook) {
                font-size: 18px;
                margin-bottom: 14px;
            }

            @include respond-to(tablet) {
                font-size: 18px;
                margin-bottom: 10px;
            }

            @include respond-to(phone) {
                font-size: 12px;
            }
        }

        &__text {
            font-size: 23px;

            @include respond-to(macbook) {
                font-size: 16px;
            }

            @include respond-to(tablet) {
                font-size: 16px;
            }

            @include respond-to(phone) {
                font-size: 11px;
            }
        }

        &__button {
            color: $primary;
            border-color: $primary;
            border-radius: 15px;
            padding: 10px 15px;
            gap: 20px;
            text-transform: uppercase;

            @include respond-to(macbook) {
                font-size: 12px;
                padding: 0 10px;
                height: 34px;
                border-radius: 7px;
                padding-bottom: 1px;
                gap: 15px;
            }

            @include respond-to(desktop) {
                margin-left: calc(96px + 35px);
            }

            @include respond-to(tablet) {
                margin-left: calc(90px + 35px);
            }

            @include respond-to(phone) {
                margin-left: 70px;
                padding: 5px 7px;
                height: 23px;
                gap: 10px;
                border-radius: 7px;
                font-size: 9px;
            }

            .reactsvg {
                width: 10px;

                @include respond-to(macbook) {
                    width: 6px;
                }

                @include respond-to(phone) {
                    width: 5px;
                }
            }
        }
    }

    &__btitle {
        font-size: 25px;
        margin-top: 130px;
        margin-bottom: 20px;
        text-transform: uppercase;
        color: $primary;
        font-weight: 400;
        text-align: center;

        @include respond-to(macbook) {
            font-size: 18px;
            margin-bottom: 13px;
        }

        @include respond-to(tablet) {
            font-size: 20px;
        }

        @include respond-to(phone) {
            font-size: 12px;
            max-width: 250px;
            margin: 0 auto 20px;
        }
    }

    &__btext {
        text-align: center;
        font-size: 25px;
        margin-bottom: 50px;

        @include respond-to(macbook) {
            font-size: 18px;
            margin-bottom: 30px;
        }

        @include respond-to(tablet) {
            font-size: 16px;
        }
        @include respond-to(phone) {
            font-size: 12px;
            max-width: 230px;
            margin: 0 auto 100px;
        }
    }
}