
@import "@/styles/variables";
@import "@/styles/mixins";

.accordion {

    &__item {
        border: 6px solid $primary;
        border-radius: 30px;
        padding: 30px;

        @include respond-to(macbook) {
            max-width: 1024px;
            margin: 0 auto;
            border-width: 4px;
            border-radius: 20px;
            padding: 20px;
        }

        @include respond-to(large) {
            padding: 15px;
            border-width: 3px;
            border-radius: 15px;
        }

        @include respond-to(phone) {
            padding: 8px 10px;
            border-width: 2px;
        }
    }

    &__header {
        position: relative;
    }

    &__icon {
        position: absolute;
        width: 32px;
        height: auto;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);

        @include respond-to(macbook) {
            width: 20px;
        }

        @include respond-to(large) {
            width: 16px;
            right: 30px;
        }

        @include respond-to(phone) {
            width: 10px;
            right: 16px;
        }
    }

    &__trigger {
        width: 100%;
        text-align: left;
        font-size: 35px;
        font-family: Ifkica, sans-serif;
        cursor: pointer;
        padding-right: 80px;
        transition: .2s all ease-in-out;

        &:hover {
            opacity: .8;
        }

        @include respond-to(macbook) {
            font-size: 25px;
        }

        @include respond-to(large) {
            font-size: 20px;
        }

        @include respond-to(phone) {
            font-size: 10px;
            padding-right: 40px;
        }

        &_active {
            background-color: #f9fafb;
        }

        svg {
            transition: transform 0.2s ease-in-out;
        }
    }

    &__content {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease-in-out;

        &[data-state=open] {
            max-height: 500px; // Укажите подходящую высоту
        }
    }

    &__body {
        font-size: 25px;
        padding-top: 70px;
        padding-right: 100px;
        letter-spacing: -.05em;

        @include respond-to(macbook) {
            padding-right: 85px;
            padding-top: 60px;
            font-size: 18px;
        }

        @include respond-to(large) {
            font-size: 15px;
            padding-top: 45px;
        }

        @include respond-to(phone) {
            font-size: 8px;
            padding-top: 20px;
        }
    }
}